<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 数据源连接信息配置文件 -->  
    <context:property-placeholder location="classpath*:dataSource.properties"/>
     
	<!--配置文件导入	-->
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:dataSource.properties</value>
		</property>
	</bean> -->

	<!--数据源	-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${mysql.database.driver}"></property>
		<property name="url" value="${mysql.database.url}"></property>
		<property name="username" value="${mysql.database.user}"></property>
		<property name="password" value="${mysql.database.password}"></property>
		<property name="maxActive" value="${mysql.database.maxActive}"></property>
		<property name="maxIdle" value="${mysql.database.maxIdle}"></property>
		<property name="maxWait" value="${mysql.database.maxWait}"></property>
	</bean>
	
	 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			 <props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
			</props>
		
		</property>
		<property name="mappingResources">
			<list>
				<!-- <value>com/ssh/ticket/beans/hbm/Order.hbm.xml</value>
				<value>com/ssh/ticket/beans/hbm/Ticket.hbm.xml</value>
				<value>com/ssh/ticket/beans/hbm/User.hbm.xml</value> -->
			</list>
		</property>
	</bean>
	
	<!-- <bean id="userDaoMysqlImpl" class="com.ssh.ticket.daos.impl.mysql.UserDaoMysqlImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="ticketDaoMysqlImpl" class="com.ssh.ticket.daos.impl.mysql.TicketDaoMysqlImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="ticketServiceImpl" class="com.ssh.ticket.service.impl.TicketServiceImpl">
		<property name="ticketDao" ref="ticketDaoMysqlImpl"/>
	</bean>
	<bean id="userServiceImpl" class="com.ssh.ticket.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoMysqlImpl"/>
	</bean>
	<bean id="ticketAction" class="com.ssh.ticket.action.TicketAction">
		<property name="ticketService" ref="ticketServiceImpl"/>
	</bean>
	<bean id="orderAction" class="com.ssh.ticket.action.OrderAction">
		<property name="ticketService" ref="ticketServiceImpl"/>
		<property name="userService" ref="userServiceImpl"/>
	</bean> -->
</beans>